.gpt3__features-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.gpt3__features-container_title{
    flex: 1;
    max-width: 180px;
    margin-right: 3rem;
}
.gpt3__features-container_title h1{
    flex:1;
    color: white;
    font-family: var(--font-family);
    font-size: 24px;
}
.gpt3__features-container_space{
    min-width: 3rem;
    min-height: 2rem;
}
.gpt3__features-container_text{
    flex:2;
    font-family: var(--font-family);
    color: #81AFDD;
    font-size: 1rem;
}
.gpt3__features-container_title h1:before {
    background: var(--gradient-text);
    border-radius: 0rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 42px;
    margin-bottom: 1.25rem;
}
@media screen and (max-width: 1050px) {
    .gpt3__features-container p{
        font-size: 0.8rem;
    }
    .gpt3__features-container_title h1:before{
        margin-bottom: 0.5rem;
    }
    .gpt3__features-container_space{
        min-height: 0.5rem;
    }
}